@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto&display=swap');

* {
	margin: auto;
	text-align: center;
	color: #27296d;
}

h1,
h3 {
	font-family: 'Mochiy Pop P One', sans-serif;
	color: #a393eb;
}

h4 {
	font-family: 'Roboto', sans-serif;
	color: #f5c7f7;
}
